- name: Check disk space and notify Discord
  hosts: all
  become: true

  tasks:
    # --- LINUX SECTION ---
    - name: Get Disk Space (Linux)
      command: df -h --total
      register: linux_disk_res
      when: ansible_os_family != 'Windows'

    # --- WINDOWS SECTION ---
    - name: Get Disk Space (Windows)
      win_shell: Get-Volume | Select-Object DriveLetter, @{Name="Size(GB)";Expression={[math]::round($_.Size/1GB,2)}}, @{Name="Free(GB)";Expression={[math]::round($_.SizeRemaining/1GB,2)}} | Out-String
      register: windows_disk_res
      when: ansible_os_family == 'Windows'

    # --- NOTIFICATION SECTION ---
    - name: Send Report to Discord
      delegate_to: localhost
      become: false
      uri:
        url: "https://discord.com/api/webhooks/1462362151758073888/6EwDdHGYlkqmJKHUcXVMRUz-P6syHszrGhuINaRYUlpsYrQMit_bYBw5s5qwTndS5XML"
        method: POST
        body_format: json
        body:
          username: "Ansible Disk Bot"
          content: |
            **Disk Usage Report for {{ inventory_hostname }}**
            ```
            {{ (ansible_os_family == 'Windows') | ternary(windows_disk_res.stdout, linux_disk_res.stdout) }}
            ```
      ignore_errors: true