---
- name: Notify on new TV episodes
  hosts: localhost
  connection: local
  vars:
    library_path: "/mnt/google_rolnas"
    # Set these in Semaphore Environment
    discord_url: "{{ discord_webhook_new_episode | default('') }}"
    tg_token: "{{ vault_tg_token | default('') }}"
    tg_chat_id: "{{ vault_tg_chat_id | default('') }}"

  tasks:
    - name: Find episodes added in the last 24 hours
      ansible.builtin.find:
        paths: "{{ library_path }}"
        recurse: yes
        patterns: ['*.mkv', ['*.mp4'], ['*.avi']]
        age: -72h
      register: new_files

    - name: Process found episodes
      include_tasks: send_alert.yaml
      loop: "{{ new_files.files }}"
      loop_control:
        loop_var: episode_item
      when: new_files.matched > 0