- name: Send Reboot Status to Discord
      delegate_to: localhost
      become: false
      uri:
        url: "https://discord.com/api/webhooks/1462362151758073888/6EwDdHGYlkqmJKHUcXVMRUz-P6syHszrGhuINaRYUlpsYrQMit_bYBw5s5qwTndS5XML"
        method: POST
        body_format: json
        status_code: [200, 204]
        headers:
          User-Agent: "Ansible/2.x"
        body:
          username: "Update Monitor"
          embeds:
            - title: "System Reboot Report"
              color: "{{ (needs_reboot | trim == 'Yes') | ternary(15158332, 3066993) }}"
              fields:
                - name: "Real Hostname"
                  value: "{{ ansible_hostname }}"
                  inline: true
                - name: "Actual IP Address"
                  value: "{{ ansible_default_ipv4.address | default(ansible_ip_addresses[0]) | default('Unknown') }}"
                  inline: true
                - name: "OS Family"
                  value: "{{ ansible_os_family }}"
                  inline: true
                - name: "Reboot Required?"
                  value: "**{{ needs_reboot | trim }}**"
                  inline: false
      ignore_errors: true