- name: Extract Metadata
  set_fact:
    # Gets "Landman"
    show_name: "{{ episode_item.path | dirname | dirname | basename }}"
    # Gets "Landman.-.S02E10.-.Tragedy and Flies.WEBDL-1080p.ETHEL.mkv"
    file_name: "{{ episode_item.path | basename }}"

- name: Notify Discord
  uri:
    url: "{{ discord_url }}"
    method: POST
    body_format: json
    body:
      content: |
        New episode for **{{ show_name }}** has been uploaded! Check Genuine Drive!
        **File:** `{{ file_name }}`
    status_code: 204
  when: discord_url != ""

- name: Notify Telegram
  uri:
    url: "https://api.telegram.org/bot{{ vault_tg_token }}/sendMessage"
    method: POST
    body_format: json
    body:
      chat_id: "{{ vault_tg_chat_id }}"
      parse_mode: "Markdown"
      text: |
        New episode for *{{ show_name }}* has been uploaded! Check Genuine Drive!
        *File:* `{{ file_name }}`
  when: vault_tg_token is defined and vault_tg_token != ""